.resume{
  width: 100%;
  font-size: 15px;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
.header-section{
  margin-top: -30px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  margin-top:-10px ;
  justify-items: center;
  text-align: center;
}
.location{
  margin-top: -20px;
}
.header-data{
  margin-top: -30px;
  display: flex;
  justify-content: space-around;
  
}
hr{
  margin-top: -10px;
}
.profile-summary{
margin-top: -10px;

}
a{
  color:blue;
  text-decoration: none;
  cursor: pointer;
}
.main-headings{
  /* background-color: rgb(252, 236, 236); */
  background-color: rgb(223, 223, 250);
  /* border-radius: 25px; */
  
}
.profile-summary p{
  margin-top: -10px;
}
.soft-skills ul{
  display:flex;
  justify-content: space-between;
}
.tech-skills{
margin-top: -10px;
/* margin-bottom: -30px; */

}


.tech-skills ul{
  margin-top: -10px;
}
.soft-skills{
  margin-top: -10px;
}
.soft-skills ul{
  margin-top: -15px;
}
.heading{
display: flex;
justify-content: space-between;
}
.live{
  padding-right: 40px;
}
.living-tim{
  margin-left: 160px;
}
.foodie-living{
  margin-left: 230px;

}

.foodie-project-section{
  margin-top: -8px;

}
.foodie-project-section h3{
  margin-top: -10px;
}
.foodie-project-section .heading{
margin-top: -10px;
}

.foodie-tech{
  margin-top: -0.2px;
  /* background-color: red; */
}
.description{
  margin-top: -13px;
  /* background-color:green ; */

}
.project-ul{
margin-top: -10px;
}


.certification-ul{
  margin-top: -10px;
}
.font-light{
  font-weight: 600;
  /* background-color: aqua; */
}